@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap");
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
ul li {
  text-align: right;
}

.nav-link:hover {
  color: #337ab7;
}

.navbar-brand img {
  cursor: pointer;
  transform: scale(0.5);
}
