@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap");
.search {
  margin-bottom: 15px;
}

.search input {
  padding: 10px;
  border: none;
  width: 700px;
  margin-right: 20px;
  outline: 0;
  color: #000000;
  border-radius: 16px;
  border: none;
}

::placeholder {
  color: rgba(4, 166, 238);
  opacity: 1; /* Firefox */
  font-family: "Hind Siliguri", sans-serif;
  font-style: italic;
}

.search button {
  padding: 8px;
  width: 100px;
  background-color: rgba(4, 166, 238, 0.5);
  border: none;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid #04a6ee;
  box-shadow: 0 2px #999;
  outline: 0;
}

.error {
  color: red;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
}
.errorInput {
  border: 2px solid red;
}
.validInput {
  border: 2px solid green;
}

.search button:hover {
  background-color: rgba(4, 166, 238, 0.2);
}
.search button:active {
  background-color: rgba(4, 166, 238, 0.5);
  box-shadow: 0 2px #999;
  transform: translateY(4px);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .search input {
    padding: 8px;
    border: none;
    width: 100%;
    margin-right: 200px;
    margin-bottom: 10px;
  }
  .search button {
    width: 100%;
    background-color: rgba(4, 166, 238, 0.7);
  }
  ::placeholder {
    padding-left: 200px;
  }
}
