.shipment-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.cargoRow {
  border-bottom: 1px solid #ccc;
}

.shipment-details .tbl {
  color: black;
  border-collapse: collapse;
  width: 620px;
}

.shipment-details .tbl th {
  border: 1px solid #0397d9;
  padding: 8px;
  width: 150px;
}

.shipment-details .tbl td {
  border: 1px solid #ccc;
}

.shipment-details .tbl td:nth-child(even) {
  background-color: #eee;
}

.shipment-details .tbl td:hover {
  background-color: #ddd;
}

.shipment-details .tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(4, 166, 238, 0.5);
  color: white;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .shipment-details table,
  .shipment-details thead,
  .shipment-details tbody,
  .shipment-details th,
  .shipment-details td,
  .shipment-details tr {
    width: 100%;
  }
}
