@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.shipment-result-tbl {
  color: black;
  border-collapse: collapse;
  width: 820px;
  border: none;
}
.shipment-result-tbl-row {
  background-color: white;
}

.sort-icon {
  transform: scale(0.6);
  top: 7px;
  position: relative;
}

.shipment-result-tbl td {
  padding: 3px;
}
.shipment-result-tbl-row td {
  padding-right: 20px;
  padding-bottom: 4px;
}

.shipment-result-tbl thead tr th {
  padding-left: 5px;
  box-shadow: 0 2px rgb(212, 212, 212);
  cursor: pointer;
  outline: 0;
}
.shipment-result-tbl thead tr th:hover {
  color: #337ab7;
  box-shadow: 0 2px rgb(212, 212, 212);
  transform: translateY(1px);
}
.shipment-result-tbl thead tr th:active {
  box-shadow: 0 2px #999;
  transform: translateY(4px);
}

.shipment-result-tbl th {
  padding: 3px;
}

.shipment-result-tbl tr:nth-child(even) {
  background-color: #eee;
}

.shipment-result-tbl tr:hover {
  background-color: #ddd;
}

.shipment-result-tbl thead tr th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: rgba(4, 166, 238, 0.5);
  color: #fff;
}

.click-here {
  text-decoration: none;
}

.click-here:hover {
  color: #337ab7;
  cursor: pointer;
}

.click-here:active {
  box-shadow: none;
  top: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 166, 238, 0.5);

  font-weight: bolder;
  margin-top: 3px;
  width: 100%;
}
.current-page-style {
  background-color: #fff;
  padding: 5px;
  font-size: 14px;
  font-weight: 900;
  z-index: 1;
}

.pagination a {
  color: white;
  float: left;
  padding: 4px 16px;
  text-decoration: none;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .shipment-result-tbl,
  .shipment-result-tbl thead,
  .shipment-result-tbl tbody,
  .shipment-result-tbl th,
  .shipment-result-tbl td,
  .shipment-result-tbl tr {
    display: block;
  }
  .shipment-result-tbl thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .shipment-result-tbl tr {
    border: 1px solid #ccc;
  }
  .shipment-result-tbl td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 100px;
    margin-left: 350px;
  }
  .shipment-result-tbl td:before {
    position: absolute;
    top: 1px;
    left: 6px;
    width: 100px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  .shipment-result-tbl td:nth-of-type(1):before {
    content: "#";
    color: #337ab7;
  }
  .shipment-result-tbl td:nth-of-type(2):before {
    content: "Id";
  }
  .shipment-result-tbl td:nth-of-type(3):before {
    content: "Shipment Name";
  }
  .shipment-result-tbl td:nth-of-type(4):before {
    content: "Status";
  }
  .shipment-result-tbl td:nth-of-type(5):before {
    content: "Details";
  }
}
